template( name="activities" )
    
  div( horizontal center-justified layout )
    .activities
      each daysActivities
        +day

template( name="activity" )
  div.activity( horizontal layout )
    span.activity-icon #{data.skillId}
    span.activity-experience( flex ) 
      span + 
      span.activity-experience-value #{data.experience} 
      span.activity-experience-unit PH
    span.activity-time às #{createdAt}
    
    
template( name="day" )
  div.activities-day
    div.activities-header 
      if calendarDate
        span.activities-when #{calendarDate}
        br
      span.activities-date #{formattedDate}
    each activities
      +activity