template( name="activities" )
  
  div( horizontal center-justified layout )
    .activities
      each daysActivities
        +day

template( name="activity" )
  div.activity( horizontal layout )
    core-icon.activity-icon( icon="water:#{data.skill}_#{data.level}" title="#{data.name} (#{data.qualifier})" )
    span.activity-time( flex )  às #{createdAt}
    span.activity-experience
      span + 
      span.activity-experience-value #{data.experience} 
      span.activity-experience-unit( title="Pontos de Hábito" ) PH
    
    
template( name="day" )
  div.activities-day
    div.activities-header 
      if calendarDate
        span.activities-when #{calendarDate}
        br
      span.activities-date #{formattedDate}
    each activities
      +activity