head
  title Linque


body
  
  div 
    if currentUser
      +loginButtons
  
    h1 Linque!
  
    unless currentUser
      +loginButtons
  
    if currentUser
      with currentUser
        +user
      
      +activities
      
      +levelup
    

template( name="user" )

  img( src="#{profile.picture}")

  +actions
  
  p Level: #{level}
  
  p 
    span Experience: #{levelExperience}/#{requiredExperience}
    span#earned-experience( style="display: none;" ) +#{earnedExperience}
  
  paper-progress( value="#{percentage}" )
    
  
  
    
template( name="actions" )

  .skills
    each skills
      +skill