head
  title Linque


body

  unless loaded
    +loading
    
  +main

  
template( name="main" )
  if currentUser     
    #main
  
      with currentUser
        +dashboard

      +activities
      +levelup
      +skillLevelUps

      div.user.user-login.user-signed-in( horizontal end-justified layout )
        +loginButtons
  
  else
    div.user.user-login.user-signed-out( vertical flex center center-justified layout style="height: 100%" )
      img( class="pg-loading-logo" src="/images/logo.svg" )
      
      +loginButtons
    

template( name="dashboard" )
  
  #toolbar( horizontal center-justified layout )
    .container
      
      div.logo( horizontal center center-justified layout )
        img( src="/images/logo.svg" )
      
      div( horizontal center around-justified layout )
  
        .skills( layout vertical reverse center end-justified flex )
          each skillsLeft
            +skill
  
        with currentUser
          +user
        
        .skills( layout vertical center start-justified flex )
          each skillsRight
            +skill
  
      br 
  
      .progress( relative vertical layout )
        div( layout horizontal end-justified )
          //- span.progress-label( title="Pontos de Hábito" ) PH
          span.progress-numbers 
            span.progress-current( title="Você tem #{levelExperience} PH" ) #{levelExperience}
            span.progress-required( title="São necessários #{requiredExperience} PH para ir para o próximo nível" ) /#{requiredExperience}
      
        paper-progress.progress-bar( flex value="#{percentage}" )
    
        div.progress-earned#earned-experience( fit ) +#{earnedExperience} PH



template( name="user" )  
  
  .user( horizontal center-justified layout )
    .user-profile( relative title="Você está no nível #{level}" )
      img.user-picture( src="#{profile.picture}")
      span.user-level( fit )
        div.user-level-label Nível
        div.user-level-value #{level}


