linque-path
  each dots
  
   if isStoryEvent
     linque-dot 
       core-overlay.console( autoCloseDisabled backdrop )
         h2.console-title
           core-icon.icon-dot( icon="dot:storyEvent" )
           span #{heading}
         div.console-content #{body}
         div( horizontal end-justified layout )
           paper-button( core-overlay-toggle ) Continuar
         
   else if isWarning
     linque-dot 
       core-overlay.console( autoCloseDisabled backdrop )
         h2.console-title
           core-icon.icon-decision( icon="decision:warning" )
           span #{heading}
         div.console-content #{body}
         div( horizontal end-justified layout )
           paper-button( core-overlay-toggle ) Entendi 
         
   else if isTip
     linque-dot( vivid )
       core-overlay.console( autoCloseDisabled backdrop vertical layout )
         h2.console-title
           core-icon.icon-dot( icon="dot:tip" )
           span.console-title-   Dica:
           span #{heading}
         div.console-content #{body}
         div( horizontal end-justified layout )
           paper-button( core-overlay-toggle ) Entendi 
         
   else if isDecisionPoint
     linque-dot( free )
       div( center horizontal center-justified layout )
         core-icon.icon-decision( icon="decision:decision" )
       core-overlay.console( autoCloseDisabled backdrop )
         h2.console-title
           core-icon.icon-decision( icon="decision:decision" )
           span #{heading}
         div.console-content 
           div #{body}
           br
           div.decision( horizontal around-justified layout )
             div( vertical layout )
               div( horizontal center-justified layout )
                 paper-button.decision-rule( disabled ) 250ml
               div( horizontal center-justified layout )
                 paper-button.decision-rule.decision-rule-next() 
                   core-icon( id="icon" icon="water:container_2" )
                   span 500ml
             div( horizontal center layout ) ou
             div( vertical layout )
               div( horizontal center-justified layout )
                 paper-button.decision-rule( disabled ) 1x/dia
               div( horizontal center-justified layout )
                 paper-button.decision-rule.decision-rule-next() 
                   core-icon( id="icon" icon="water:fill_2" )
                   span 2x/dia
   else
     linque-dot

+character
