linque-path
  each dots
  
   if isStoryEvent
     linque-dot 
       core-overlay( autoCloseDisabled backdrop layered="false" )
         h2 #{heading}
         div #{body}
   else if isWarning
     linque-dot 
       core-overlay( autoCloseDisabled backdrop layered="false" )
         h2 #{heading}
         div #{body}
   else if isTip
     linque-dot( vivid )
       core-overlay( autoCloseDisabled backdrop layered="false" )
         h2 #{heading}
         div #{body}
   else if isDecisionPoint
     linque-dot 
       core-overlay( autoCloseDisabled backdrop layered="false" )
         h2 #{heading}
         div #{body}
   else if isUser
     linque-dot( free )
       div( center )
         +user
   else
     linque-dot
       
