+animations

linque-path
  each dots
    if isEvent
      linque-dot( $dyn = attrs ) 
        core-overlay.console( autoCloseDisabled backdrop )
          h2.console-title
            core-icon.icon-dot( icon="dot:event" )
            span #{title}
          div.console-content
            +markdown 
              #{body}
          div( horizontal end-justified layout )
            paper-button Continuar
          
    else if isWarning
      linque-dot( $dyn = attrs ) 
        core-overlay.console( autoCloseDisabled backdrop )
          h2.console-title
            core-icon.icon-decision( icon="decision:warning" )
            span #{title}
          div.console-content
            +markdown 
              #{body}
          div( horizontal end-justified layout )
            paper-button Entendi 
          
    else if isTip
      linque-dot( $dyn = attrs )
        core-overlay.console( autoCloseDisabled backdrop )
          h2.console-title
            core-icon.icon-dot( icon="dot:tip" )
            span.console-title Dica: #{title}
          div.console-content
            +markdown 
              #{body}
          div( horizontal end-justified layout )
            paper-button Entendi 
          
    else if isDecision
      linque-dot( $dyn = attrs )
        div.center( horizontal center-justified layout )
          if completed
            core-icon.icon-decision( icon="decision:decided" )
          else
            core-icon.icon-decision( icon="decision:decision")
            
        core-overlay.console( autoCloseDisabled backdrop )
          h2.console-title
            core-icon.icon-decision( icon="decision:decision" )
            span #{title}
          div.console-content 
            div
              +markdown 
                #{body}
            br
            div.decision( horizontal around-justified layout )
              each options
                div( vertical layout )
                  div( horizontal center-justified layout )
                    paper-button.decision-rule( disabled ) #{current.qualifier}
                    
                  if next
                    div( horizontal center-justified layout )
                      paper-button.decision-rule.decision-rule-next
                        core-icon( id="icon" icon="water:#{id}_#{next.number}" )
                        span #{next.qualifier}
                
                if next
                  if splited
                    div( horizontal center layout ) ou
                  
                  
    else
      linque-dot( $dyn = attrs )
