linque-path
  each dots
  
   if isStoryEvent
     linque-dot 
       paper-dialog.start.center(heading="#{heading}") #{body}
   else if isWarning
     linque-dot 
       paper-dialog.start.center(heading="#{heading}") #{body}
   else if isTip
     linque-dot( vivid )
       paper-dialog.start.center(heading="#{heading}") #{body}
   else if isDecisionPoint
     linque-dot 
       paper-dialog.start.center(heading="#{heading}") #{body}
   else if isUser
     linque-dot( free )
       div( center )
         +user
   else
     linque-dot
