template( name="rule" )
  
  rule-item.rule( id="#{id}" class="#{classes}" icon="water:#{id}_#{level}" $dyn=attrs )

    .qualifier #{qualifier}
          
    div.rule-info( tip )
      h2.rule-name
        .core-tooltip-header #{name}
    
      .core-tooltip-content
        if currentLevel
          .rule-level.rule-current-level
            +ruleLevel(currentLevel)