template( name="rule" )
  
  rule-item.rule( id="#{id}" class="#{classes}" icon="water:#{id}_#{level}" $dyn=attrs )

    .qualifier #{qualifier}
          
    div.rule-info( tip )
      +ruleLevel currentLevel
        