template( name="skill" )
  
  .skill.skill-action( id="#{id}" )

    skill-button( class="button #{classes}" title="#{name}" icon="water:#{id}_#{level}" $dyn=attrs )

      .qualifier #{qualifier}
            
      div( tip )
        h2 #{name}
      
        +skillLevel(currentLevel)
        
        each nextSkillLevels
          +skillLevel
  