template( name="skillLevel" )

  .skill-qualifier #{qualifier}

  if unlocked
    .skill-required-level Adquirido no nível #{requiredLevel}
  else
    .skill-required-level Requer nível #{requiredLevel}
  
  if unlocked
    .skill-summary #{summary}

    if experience
      .skill-experience
        b +#{experience} PH
