template( name="skill" )
  
  .skill.skill-action( id="#{id}" )

    core-tooltip
    
      paper-button( class="button #{classes}" title="#{name}" $dyn=attrs )
        span #{id}
        span (#{qualifier})

      div( tip )
        h2 #{name}
      
        +skillLevel(currentLevel)
        
        each nextSkillLevels
          +skillLevel
      